<div class="no-scrollbar flex flex-1 gap-2 overflow-x-auto rounded-s-full">

    @foreach (var category in Categories)
    {
        var classes = Selected.Contains(category.Name)
        ? "bg-muted text-muted-foreground"
        : "bg-muted-light text-muted-foreground active:scale-95";

        <button @key="category.Id"
                class="shrink-0 rounded-full px-4 py-2 text-sm font-medium transition-all @classes"
                @onclick="() => OnToggle.InvokeAsync(category.Name)">
            @category.Name
        </button>
    }

</div>

@code 
{
    [Parameter, EditorRequired] 
    public IEnumerable<Category> Categories { get; set; }

    [Parameter] 
    public HashSet<string> Selected { get; set; } = [];
    
    [Parameter]
    public EventCallback<string> OnToggle { get; set; }
}