@using Client.Components.Pages.Home.Shared.Skeletons

<section class="space-y-4">

    <h2 class="text-lg font-bold tracking-tight text-foreground">
        Discover Episodes
    </h2>

    @if (Items is null)
    {
        <EpisodesSkeleton />
    }
    else
    {
        <div class="flex flex-col gap-6">
            @foreach (var item in Items)
            {
                <EpisodeCard @key="item.Id" Item="@item" />
            }
        </div>
    }

</section>

@code 
{
    [Parameter] public IEnumerable<RandomEpisode>? Items { get; set; }
}