@using Client.Components.Pages.Home.Shared.Skeletons
@inject PodcastIndexClient Client

<Loadable Key="Categories" Loader="LoadTrendingsAsync">

    <Loading>
        <PodcastGridSkeleton />
    </Loading>


    <ChildContent Context="trendings">

        <div class="grid grid-cols-2 gap-3">
            @foreach (var item in trendings)
            {
                <PodcastCard @key="item.Id" Item="item" />
            }
        </div>

    </ChildContent>

</Loadable>

@code
{
    [Parameter] public string[] Categories { get; set; } = [];

    private async Task<IEnumerable<PodcastSummary>> LoadTrendingsAsync(CancellationToken ct)
    {
        var response = await Client.Podcasts.TrendingAsync(
            new TrendingRequest { Max = 6, Cat = Categories },
            ct);

        return response.Searches;
    }
}