@using Client.Components.Pages.Home.Shared.Skeletons

@inject PodcastIndexClient Client

<section class="space-y-3">

    <h2 class="text-lg font-bold tracking-tight text-foreground">
        Trending from Monday
    </h2>

    <Loadable Loader="LoadTrendingsAsync">

        <Loading>
            <TrendingSkeleton />
        </Loading>

        <ChildContent Context="trendings">
            
            <div class="no-scrollbar flex gap-3 overflow-x-auto">
                @foreach (var item in trendings)
                {
                    <PodcastCard @key="item.Id" Podcast="@item" />
                }
            </div>

        </ChildContent>

    </Loadable>
</section>

@code
{
    private async Task<IEnumerable<PodcastSummary>> LoadTrendingsAsync(CancellationToken ct)
    {
        var response = await Client.Podcasts.TrendingAsync(
            new TrendingRequest { Max = 12, Since = GetLastMonday() },
            ct);

        return response.Searches;
    }

    public static DateTime GetLastMonday(bool includeToday = true)
    {
        DateTime today = DateTime.Now;
        int diff = (7 + (today.DayOfWeek - DayOfWeek.Monday)) % 7;

        if (!includeToday && diff == 0)
            diff = 7;

        return today.AddDays(-diff).Date;
    }
}