@page "/podcasts/{Id:int}"
@using Client.Components.Pages.Podcasts.Shared
@using Client.Components.Pages.Podcasts.Shared.Skeletons

@inject PodcastIndexClient Client

<PodcastHeader Title="@_podcast?.Title" />

<div class="space-y-8">

    <Loadable Loader="LoadPodcastAsync">

        <Loading>
            <PodcastDetailsSkeleton />
        </Loading>

        <Error>
            <BbAlert Variant="AlertVariant.Danger">
                <BbAlertTitle>Error</BbAlertTitle>
                <BbAlertDescription>Failed to load podcast.</BbAlertDescription>
            </BbAlert>
        </Error>

        <ChildContent Context="podcast">
            <PodcastDetailsSection Podcast="@podcast" />
        </ChildContent>

    </Loadable>

    <EpisodesList Id="@Id" />

</div>

@code
{
    [Parameter] public int Id { get; set; }

    private Podcast? _podcast;

    private async Task<Podcast> LoadPodcastAsync(CancellationToken ct)
    {
        var response = await Client.Podcasts.ByFeedIdAsync(Id, ct);
        _podcast = response.Value;
        
        return _podcast;
    }
}