@page "/"
@using Client.Components.Pages.Home.Shared

<HomeHeader Selected="@_selected"
            OnToggle="Toggle" />

<div class="space-y-8">

    <PodcastGrid Categories="@Categories" />

    <TrendingSection />

    <DiscoverEpisodesSection />

</div>

@code
{
    private HashSet<string> _selected = [];

    private string[] Categories => _selected.ToArray();

    private void Toggle(string name)
    {
        if (!_selected.Add(name))
        {
            _selected.Remove(name);
        }
    }
}