<div class="no-scrollbar flex gap-3 overflow-x-auto">
    @for (int i = 0; i < 6; i++)
    {
        <div class="w-24 shrink-0 space-y-2">
            <BbSkeleton Class="size-24 rounded-md" />
            <BbSkeleton Class="h-3 w-3/4 rounded" />
            <BbSkeleton Class="h-3 w-1/2 rounded" />
        </div>
    }
</div>