<HeaderContent>

    <button class="rounded-full p-2 transition hover:bg-muted"
            onclick="history.back()">
        <LucideIcon Name="arrow-left" />
    </button>

    <h1 class="truncate text-sm font-semibold">
        @Title
    </h1>

</HeaderContent>

@code 
{
    [Parameter] public string? Title { get; set; }
}