<HeaderContent Class="p-3 flex items-center gap-x-2">

    <BackButton />

    <h1 class="truncate text-sm font-semibold">
        @Title
    </h1>

</HeaderContent>

@code 
{
    [Parameter] public string? Title { get; set; }
}