@using BlazorBlueprint.Primitives.Services
@inherits LayoutComponentBase

<main class="flex h-screen flex-col">
    <SectionOutlet SectionName="main-layout-header" />
    <article class="flex-1 overflow-y-auto p-4">
        @Body
    </article>
    <footer class="relative md:hidden">

        <nav class="relative z-10 flex h-16 items-center justify-around border-t bg-background">
            <NavLink href="/" class="flex flex-col items-center text-xs" ActiveClass="text-primary" Match="NavLinkMatch.All">
                <LucideIcon Name="house" Size="20" />
                <span>Home</span>
            </NavLink>

            <NavLink href="/discover" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
                <LucideIcon Name="compass" Size="20" />
                <span>Discover</span>
            </NavLink>

            <NavLink href="/library" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
                <LucideIcon Name="library" Size="20" />
                <span>Library</span>
            </NavLink>

            <NavLink href="/account" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
                <LucideIcon Name="user" Size="20" />
                <span>Account</span>
            </NavLink>
        </nav>

        <PlayerProvider />

    </footer>
</main>

<BbPortalHost />
<BbToastProvider Class="pointer-events-none *:pointer-events-auto" />