@using BlazorBlueprint.Primitives.Services
@inherits LayoutComponentBase

<main class="flex h-screen flex-col">

    <SectionOutlet SectionName="main-layout-header" />

   <Main>@Body</Main>

    <nav class="fixed bottom-0 left-0 right-0 z-20 md:hidden flex h-16 items-center justify-around bg-background">

        <NavLink href="/" class="flex flex-col items-center text-xs" ActiveClass="text-primary" Match="NavLinkMatch.All">
            <LucideIcon Name="house" Size="20" />
            <span>Home</span>
        </NavLink>

        <NavLink href="/discover" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
            <LucideIcon Name="compass" Size="20" />
            <span>Discover</span>
        </NavLink>

        <NavLink href="/library" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
            <LucideIcon Name="library" Size="20" />
            <span>Library</span>
        </NavLink>

        <NavLink href="/account" class="flex flex-col items-center text-xs" ActiveClass="text-primary">
            <LucideIcon Name="user" Size="20" />
            <span>Account</span>
        </NavLink>

    </nav>

</main>

<PlayerProvider />

<BbPortalHost />
<BbToastProvider Class="pointer-events-none *:pointer-events-auto" />